# Virtual environment directories
venv/
.venv/
.env/
ENV/

# Output directories for temporary files
output/
out/
main.onefile-build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and temporary files
*.log
*.tmp

# System-specific files
.DS_Store
Thumbs.db

# Nuitka build output
*.dist/
*.build/
*.exe
*.dll
*.so
*.o
*.pyd
*.manifest
*.exp
*.lib
*.obj
*.bin

# Nuitka cache and generated source files
__nuitka_build__/
.nuitka-cache/
*.c
*.cpp
*.h
*.tmp

# General binary output
build/
dist/
